@font-face {
  font-family: 'BehindTheNineties';
  src: url('assets/fonts/BehindTheNineties-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messina';
  src: url('assets/fonts/MessinaSansMonoWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.messina {
  font-family: 'Messina', sans-serif;
}

.behindtheninty {
  font-family: 'BehindTheNineties', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #faf9f5;
  color: #333;
}

#contentBody {
  background-color: #F4EDDF;
}

/* /// Navbar styling /// */
.navbar {
  background-color: #FFF2C1;
  border: 1px solid #FFF2C1;
  font-size: medium;
}

.navbar-nav .nav-link {
  color: #AC4838 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #AC4838 !important;
}

.navbar-nav .nav-link.active {
  color: #AC4838 !important;
}

/* /// Sidebar /// */
.guide-sidebar {
  background-color: #FFF2C1;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.guide-sidebar h5 {
  color: #B93C2E;
  font-weight: 500 !important;
}

.guide-list {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin: 0;
}

.guide-list li {
  margin-bottom: 0.6rem;
}

.guide-list li::marker {
  color: #B93C2E;
  font-size: 0.8rem;
}

.guide-list a {
  color: #AC4838;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s, transform 0.2s;
}

.guide-list a:hover {
  color: #4f0e09;
  transform: translateX(4px);
}



/* /// Cards /// */
.card {
  border: none;
  background-color: #ffffff;
  border-radius: 12px;
  width: 95% !important;
  font-family: 'Messina', sans-serif;
  padding: 0.75rem;
  /*transition: transform 0.2s ease, box-shadow 0.2s ease;*/
}

.card-title {
  font-family: 'BehindTheNineties', sans-serif;
  font-size: 40px;
  font-weight: 500 !important;
}

/*  .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
} */



/* /// Content body /// */
/* page header*/
.animated-btn {
  background-color: #d7544d;
  border: none;
  font-size: medium;
  padding: 0px 15px 4px !important;
  /*transition: all 0.3s ease-in-out;*/
}

.animated-btn:hover {
  background-color: #ffffff;
  color: #d7544d;
  /*transform: translateY(-2px);*/
}

.breadcrumb-item {
  font-size: medium;
}

.breadcrumb .breadcrumb-item a {
  color: #AC4838;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #2e95c8;
  text-decoration: none;
}

.pageHeading h2 {
  font-weight: 500;
  color: #366639;
  font-size: 47.5px;
}

.pageHeading h4 {
  font-weight: 400;
  color: #366639;
  letter-spacing: 2.5px;
  font-size: 45px;
}

.pageHeading p {
  font-size: 14px;
  color: #2D2C2C;
}

.badge1 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  border: 1px solid #a7a7a7;
  border-radius: 50px;
  padding: 10px 16px;
  font-size: 12.68px;
  color: #333;
  background-color: #f9f7ef;
  font-family: "Courier New", monospace;
  font-weight: 400;
  letter-spacing: 0;
}

.badge1::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.badge1:nth-child(1)::before {
  background-color: #d87b00;
}

.badge1:nth-child(2)::before {
  background-color: #4caf50;
}

.badge1:nth-child(3)::before {
  background-color: #e74c3c;
}

.badge1 b {
  font-weight: 600;
}


/* quick-summary-card */
.summary-table {
  padding-left: 20px;
  margin-bottom: 0;
  list-style: none;
  font-size: 0.8rem;
}

.summary-table li .col-md-6 {
  position: relative;
  line-height: 1.6;
  padding-top: 0.75rem;
}

.summary-table li .col-md-6::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.15rem;
  width: 4px;
  height: 4px;
  background-color: #1c211d;
  border-radius: 50%;
}

.summary-table .row {
  align-items: flex-start;
}

.summary-table strong {
  font-weight: 700;
}


/* What-is card*/
#what-is-HAC .card-text {
  font-size: 0.85rem;
  line-height: 1.6;
}

#what-is-HAC .info-tag {
  border: 1px solid #777;
  border-radius: 50px;
  padding: 6px 16px;
  font-size: 0.75rem;
  background-color: #fff;
}

#what-is-HAC .info-tag-header {
  font-size: 0.85rem;
}

#what-is-HAC strong {
  font-weight: 600;
}


/* Benefits card*/
#benefits-card .benefits-icon-row img {
  width: 25%;
  height: auto;
}

#benefits-card .benefits-text-row {
  font-size: 0.9rem;
  font-weight: 500;
}


/* Suitable card*/
.suitable-list {
  list-style-type: disc;
  margin: 0;
}

.suitable-list li {
  line-height: 1.6;
}

#suitable-card .row {
  align-items: flex-start;
}

#suitable-card .suitable-content,
#suitable-card .suitable-content h6 {
  font-size: 0.85rem;
}


/*Usage Card*/
#correct-usage-card .card-body ul {
  list-style-type: disc !important;
}

#correct-usage-card ul li {
  line-height: 1.6;
  font-size: 0.85rem;
}

#correct-usage-card strong {
  font-weight: 700;
  font-size: 0.9rem !important;
}

/*Comp % Cpmb card*/
#comp-comb-card p span {
  font-size: 0.85rem;
}

#comp-comb-card p strong {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}

#comp-comb-card button {
  background-color: #FFF3D6 !important;
  color: #B91C1C;
  font-size: 1rem;
  padding: 0px 15px 4px !important;
  /*transition: all 0.3s ease-in-out;*/
}

#comp-comb-card button:hover {
  background-color: #B91C1C !important;
  color: #FFF3D6 !important;
  /*transform: translateY(-2px);*/
}

/*Safety Card*/
#safety-card .safety-content {
  background-color: #F2F2F2;
}

#safety-card .safety-content img {
  height: 60px;
  width: auto;
}

#safety-card .safety-content p {
  font-size: 0.85rem;
}



/* ///Product Carousel/// */
/* Divider line above heading */
.section-divider {
  border: none;
  border-top: 1.5px solid #262525;
}

.product-carousel {
  background-color: #F4EDDF;
  border-radius: 0.75rem;
  overflow: hidden;
}

.product-carousel-heading{
  font-weight: 500;
}
.product-carousel-heading small{
  font-size: 1rem !important;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.product-card {
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: 1rem;
  background: #fff;
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.product-card img {
  max-height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.05);
}

.product-card h6 {
  font-weight: 600;
  margin-top: 2.5rem;
  font-size: 0.9rem;
}

.product-card p {
  color: #6c757d;
  margin-bottom: 0;
  font-size: 0.8rem;
}

/* --- Arrows --- */
.carousel-control {
  background: #DBCFBA;
  border: none;
  color: #fff;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 45%;
  z-index: 10;
}

.carousel-control:hover {
  background: #cbb794;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-control.disabled {
  display: none;
}



/* FAQ&Info Cards*/
.footer-card {
  width: 93.5% !important;
}

.extra-info-section {
  background-color: #F4EDDF;
}


.accordion {
  border: none;
}

.accordion-item {
  border: 1px solid #e0e0e0;
  border-radius: 1.5rem !important;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-item:not(:last-child) {
  margin-bottom: 1rem;
}

.accordion-button {
  background-color: #fff;
  color: #2f2f2f;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 1.5rem !important;
  padding: 1rem 1.25rem;
  transition: all 0.3s ease;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #f4eddf;
  color: #2f5930;
  border-radius: 1.5rem 1.5rem 0 0 !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(33%) sepia(10%) saturate(500%) hue-rotate(75deg);
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg) scale(1.2);
}

.accordion-body {
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-radius: 0 0 1.5rem 1.5rem !important;
  padding: 1rem 1.25rem;
  font-size: 0.85rem;
  color: #444;
}

.accordion-item+.accordion-item {
  border-top: 1px solid #e0e0e0;
}

/*Alternatives card*/
#alts-card .alts-content li strong {
  font-size: 0.9rem;
  font-weight: 700;
}

#alts-card .alts-content li span {
  font-size: 0.85rem;
}


/* /// Footer /// */
.footer {
  background-color: #4c6b52;
  color: #fff;
}

.footer-logo {
  width: 50%;
  height: auto;
}

.footer span {
  font-size: 0.95rem;
}